// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.gradientBg {
	display: flex;
	background: linear-gradient(to right, #FFFFFF, #eeeeee);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}

.mainMenu {
  font-weight: bold;
  text-size: 3rem;
}

.mainMenu .button {
  border-radius: 0;
  border: 0;
  background: #fafafa;
  clip-path: 
    polygon(
      0% 50%,     /* top left */
      2% 0%,     /* top left */
      98% 0%,    /* top right */
      100% 50%,   /* top right */
      100% 50%,  /* bottom right */
      98% 100%,  /* bottom right */
      2% 100%,   /* bottom left */
      0 50%      /* bottom left */
    );
}

.mainMenu .button:hover {
  border-radius: 0;
  border: 0;
  background: #a51e22;
  color: white;
  clip-path: 
    polygon(
      0% 50%,     /* top left */
      2% 0%,     /* top left */
      98% 0%,    /* top right */
      100% 50%,   /* top right */
      100% 50%,  /* bottom right */
      98% 100%,  /* bottom right */
      2% 100%,   /* bottom left */
      0 50%      /* bottom left */
    );
}

.bspk-tabs .navbar-brand .navbar-item:hover {

}

.bspk-tabs .navbar-menu .navbar-item:hover, .bspk-tabs .navbar-menu .navbar-item[aria-current="page"] {
  background: linear-gradient(to bottom, 
    #dddddd 0%, 
    #a51e22 5%, 
    #a51e22 95%, 
    #dddddd 100%
  );
  color: white;
}

.games {
  background-color: #211;
  background: linear-gradient(to top, #211, black);
  color: white;
  font-size: 1.2em;
}

.games p {
  margin: 1em;
}

.games a {
  font-weight: bold;
  color: $cyan;
}

.games .title {
  color: white;
}

.games-index img {
  width: auto;
  height: 150px;
  margin: auto;
}

.games .card figure img {
  padding: 1.5em;
  background-color: black;
  border: 2px white solid;
}

.buy-now {
  padding: 2em;
  text-align: center;
  background-color: $warning-light;
}