// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.gradientBg {
	display: flex;
	background: linear-gradient(to right, #FFFFFF, #eeeeee);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}

.mainMenu {
  background: linear-gradient(to bottom, 
    #ffffff, 
    #dddddd 5%, 
    #dddddd 95%, 
    #ffffff
  );
  padding: 6px 0px;
}

.mainMenu .button {
  border-radius: 0;
  border: 0;
  background: linear-gradient(to bottom, 
    #dddddd 0%, 
    #ffffff 5%, 
    #ffffff 95%, 
    #dddddd 100%
  );
}

.mainMenu .button:hover {
  border-radius: 0;
  border: 0;
  background: linear-gradient(to bottom, 
    #dddddd 0%, 
    #a51e22 5%, 
    #a51e22 95%, 
    #dddddd 100%
  );
  color: white;
}

.bspk-tabs .navbar-brand .navbar-item:hover {

}

.bspk-tabs .navbar-menu .navbar-item:hover, .bspk-tabs .navbar-menu .navbar-item[aria-current="page"] {
  background: linear-gradient(to bottom, 
    #dddddd 0%, 
    #a51e22 5%, 
    #a51e22 95%, 
    #dddddd 100%
  );
  color: white;
}

.games {
  background-color: black;
  color: white;
}

.games .title {
  color: white;
}

.games-index img {
  width: auto;
  height: 150px;
  margin: auto;
}